<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Employee Directory", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right" ng-if="loggedIn()">
                    <li ng-if="isEmployee()"><a href="#" ng-click="loadUserDetail()">{{user().firstName + ' ' + user().lastName}}</a></li>
                    <li ng-if="!isEmployee()">{{user.email}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular/vendor")
    @Scripts.Render("~/bundles/app")

    @RenderSection("scripts", required: false)
</body>
</html>
